		
	body {
		font-family: verdana, arial, sans-serif ;
		font-size: 62.5% ;
		margin: 0px 0px 0px 0px ;
		padding: 0px 0px 0px 0px ;
		}
		
	div#site-header {
		height: 425px ;
		position: relative ;
		}
	
	div#site-content {
		background-position: right top ;
		background-repeat: repeat-y ;
		margin-bottom: 30px ;
		}
	
	div#social {
		background-image: url( "twitter_background.png" ) ;
		height: 301px ; 
		left: 440px ;
		overflow: hidden ;
		position: absolute ;
		top: 80px ;
		width: 330px ;
		z-index: 100 ;
		}
		
	div#social div.mini-bio {
		color: #333333 ;
		font-size: 12px ;
		left: 20px ;
		line-height: 17px ;
		position: absolute ;
		top: 50px ;
		width: 290px ;
		}
	
	div#social div.find-me-links {
		color: #333333 ;
		font-size: 12px ;
		left: 20px ;
		line-height: 17px ;
		position: absolute ;
		top: 148px ;
		width: 290px ;
		}
		
	div#social div.find-me-links a {
		color: #333333 ;
		}
	
	div#social a.recent-twitter-status {
		color: #000000 ;
		display: block ;
		font-size: 10px ;
		left: 35px ;
		line-height: 14px ;
		position: absolute ;
		text-decoration: none ;
		top: 215px ;
		width: 262px ;
		}
	
		
.tweet {
	font-family: Georgia, serif;
	font-size: 120%;
	color: #085258; }
	
.tweet .tweet_list {
	-webkit-border-radius: .5em;
	list-style-type: none;
	margin: 0;
	padding: 0;}

.tweet .tweet_list li {
      overflow: auto;
      padding: .5em; }

.tweet .tweet_list li a {
        color: #0C717A; }

.tweet .tweet_list .tweet_even {
      background-color: #91E5E7; }

.tweet .tweet_list .tweet_avatar {
      padding-right: .5em;
      float: left; }

.tweet .tweet_list .tweet_avatar img {
        vertical-align: middle; }
